
<div class="footer">
    <div class="footer-content" ngClass="{{usuarioService.usuario.color}}">
        
        <div class="footer-section about">

            <h1 class="logo-text text-center"><span>Facu</span>Gutierrez</h1>
            <p class="text-center">
                Tengo ganas de trabajar y aprender aún más sobre la programación. 
                Puedo mejorar aún más esto.
            </p>
        <div class="contact col text-center">
            <span class="d-block"><i class="fas fa-phone"></i>&nbsp;3884840223</span>
            <span><i class="fas fa-envelope-square"></i>&nbsp;facunahuelgutierrez1@gmail.com</span>
        </div>
        <div class="socials col d-block text-center">
            <a type="button" class="navbar-brand" href="https://www.instagram.com/nahu_gutierrez.12/?hl=en"> <i class="fab fa-instagram"></i></a>
            <a type="button" class="navbar-brand" href="https://www.facebook.com/nahuel.gutierrez.520"> <i class="fab fa-facebook"></i></a>

        </div>
    </div>
        <div class="footer-bottom">    
            &copy; Desarrollado by Facundo Gutierrez
        </div>
    </div>
</div>



