.boton:hover {
    background-color: darkcyan ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
}
.boton{
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
